html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Lato', sans-serif;
  width: 100%;
  margin: 0;
  padding: 0;

}
h2, h3 {
  margin: 0;
}
h2 {
  font-size: 30px;
  color: #666d89;
  font-weight: 900;
  letter-spacing: -0.2px;
}
header {
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
  position: fixed;
  width: 100%;
  z-index: 10;
}
main {
  padding-top: 95px;
}
.header-inner {
  max-width: 1020px;
  height: 89px;
  padding: 0 40px;
  margin: auto;
  display: flex;
  color: #ffffff;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}
.anchor {
  display: block;
  position: relative;
  top: -95px;
  visibility: hidden;
}
.logo h1{
  font-size: 25px;
  font-weight: 700;
  letter-spacing: -0.5px;
}
.logo span {
  font-weight: normal;
  color: #f06c64;
}
nav {
  font-size: 12px;
}
ul {
  display: flex;
  padding-top: 10px;
  list-style: none;
}
nav li {
  margin-left: 13px;
  letter-spacing: -0.3px;
}
nav li:before {
  content: "\00B7 ";
  color: #494e62;
  margin-right: 15px;
  font-weight: bold;
}
nav li:first-child:before {
  display: none;
}
#home-sec {
  width: 100%;
  background-color: #f06c64;
  height: 595px;
  border-bottom: 5px solid #ea676b;
  transition: 0.5s;
}
.slider-inner {
  max-width: 940px;
  margin: auto;
  height: 100%;
  position: relative;
  overflow: hidden;
  padding: 0 40px;
}
.vertical-phone {
  position: relative;
  left: -56px;
  top: 52px;
}
.horizontal-phone {
  position: relative;
  left: -92px;
  top: 51px;
}
#phone-content-v {
  position: absolute;
  height: 333px;
  width: 188px;
  background: url("assets/content-vertical.svg");
  background-position: 566px -135px;
  margin-top: 66px;
  margin-left: 16px;
  z-index: 2;
  transition: 0.3s;
}
#phone-content-h {
  position: absolute;
  height: 189px;
  width: 334px;
  background: url("assets/content-horizontal.svg");
  background-position: 456px 461px;
  margin-top: 137px;
  margin-left: -60px;
  z-index: 2;
  transition: 0.3s;
}
#iphone-v {
  position: relative;
  z-index: 1;
  cursor: pointer;
}
#iphone-h {
  position: relative;
  z-index: 1;
  transform: rotate(90deg);
  cursor: pointer;
}
.vertical-phone .shadow {
  transform: scale(1, -1) rotate(90deg);
  z-index: 0;
  position: absolute;
  margin-top: -338px;
  margin-left: -119px;
  width: auto;
}
.horizontal-phone .shadow {
  position: absolute;
  margin-top: -338px;
  margin-left: -118px;
  width: auto;
}
.slider-inner img {
  display: block;
  width: 100%;
}
#arrow-right img{
  transform: rotate(180deg);
}
#arrow-right, #arrow-left {
  cursor: pointer;
  opacity: 1;
  position: absolute;
  top: 281px;
  z-index: 2;
}
#arrow-right:hover, #arrow-left:hover{
  opacity: 0.5;
}
#arrow-left {

}
#arrow-right {
  right: 40px;
}
#services-sec {
  width: 100%;
  height: auto;
  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
}
.services-inner {
  max-width: 1020px;
  margin: auto;
  padding: 59px 40px 0 40px;
  box-sizing: border-box;
}
.services-wrapper {
  display: flex;
  margin-top: 46px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.services-item {
  display: flex;
  width: 300px;
  margin-bottom: 22px;
  overflow: hidden;
}
.services-text {
  margin-left: 18px;
  max-height: 100px;
}
.services-text p{
  hyphens: auto;
  text-align: justify;
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-weight: 400;
  margin: 8px 0;
}
.services-inner > p {
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  letter-spacing: -0.1px;
}
.services-text h3 {
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  font-weight: 900;
}

/*Singolo2*/
#portfolio-sec {
  width: 100%;
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
}
.portfolio-inner {
  max-width: 1020px;
  margin: auto;
  padding: 60px 40px 0 40px;
  box-sizing: border-box;
}
.portfolio h2 {
  color: #666d89
}
.portfolio-inner>p {
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-weight: 300;
  margin-bottom: 10px;
}
#tags {
  display: flex;
}
.tag {
  font-size: 12px;
  line-height: 22px;
  font-weight: 400;
  border: 1px solid #767e9e;
  padding: 2px 6px;
  text-decoration: none;
  color: #767e9e;
  border-radius: 5px;
  margin: 0 3px;
  cursor: pointer;
  text-align: center;
}
.tag:first-child {
  margin-left: 1px;
  margin-right: 5px;
}
.tag:hover, .tag-active {
  border-color: #ffffff;
  color: #ffffff;
}
.tag-active {
  pointer-events: none;
}
#portf-images {
  display: flex;
  flex-wrap: wrap;
  overflow-y: hidden;
  margin: 10px -10px 51px;
}
.portf-image {
  flex: 1 0 20%;
  background-color: #464b5e;
  margin: 10px;
  cursor: pointer;
}
.portf-image::before {
  content: "";
  float: left;
  padding-top: 85%;
}
.portf-image img {
  display: block;
  width: 100%;
  height: 100%;
}
#about-sec {
  width: 100%;
  background-color: #f2f2f2;
  padding-bottom: 66px;
  border-bottom: 6px solid #ffffff;
}
.about-us-inner {
  max-width: 1020px;
  margin: auto;
  padding: 60px 40px 0 40px;
  box-sizing: border-box;
}
.about-us-inner>p {
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-weight: 300;
  margin-bottom: 10px;
  text-align: justify;
}
.team {
  display: flex;
  margin-top: 44px;
  justify-content: space-between;
}
.person {
  width: 32%;
}
.person > img {
  width: 100%
}
.person:first-child p {
  letter-spacing: -0.06px;
}
.person h3 {
  font-size: 18px;
  color: #666d89;
  font-weight: 900;
  letter-spacing: -0.2px;
  margin-top: 12px;
  overflow: hidden;
  white-space: nowrap;
}
.person p {
  font-size: 12px;
  line-height: 21px;
  color: #767e9e;
  font-weight: 400;
  text-align: justify;
  margin-top: 8px;
}
.social {
  display: flex;
}
.social a {
  padding: 5.5px;
  border-radius: 50%;
  border: 1px solid #666d89;
  width: 19px;
  text-align: center;
  margin-top: 12px;
  margin-right: 8px;
}
.social a:nth-child(3) img {
  margin-bottom: 1px;
}
.social a:hover {
  padding: 3.5px;
  border: 3px solid #666d89;
}
.person:first-child .social{
  margin-left: 1px;
}
.person:nth-child(2)>img {
  margin-left: -1px
}

/*Singolo3*/
#contact-sec {
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
}
.feedback-inner {
  max-width: 1020px;
  margin: auto;
  box-sizing: border-box;
  padding: 60px 40px 26px;
}
#contact-sec h2 {
  color: #f0d8d9;
}
.about {
  font-size: 18px;
  line-height: 30px;
  color: #f0d8d9;
  letter-spacing: 0px;
  font-weight: 300;
  text-align: left;
}
.about::first-line {
  letter-spacing: 0.15px;
}
.form-wrapper {
  display: flex;
  justify-content: space-between;
}
#feedback-form {
  width: 66%;
}
.feedback-contact {
  width: 32%;
  margin-top: 23px;
}
fieldset {
  margin: 0;
  margin-top: 26px;
  padding: 0;
  border: 0;
}
fieldset input, #form-project {
  box-sizing: border-box;
  margin-bottom: 17px;
  padding: 6px 15px 9px;
  border: 0;
  width: 100%;
  font-size: 12px;
  line-height: 22px;
  color: #f0d8d9;
  font-weight: 300;
  text-align: left;
  border-radius: 5px;
  background-color:  #d6564f;
  letter-spacing: -0.2px;
  font-family: inherit;
}
fieldset input:focus, #form-submit:hover {
  background-color:  #ae453f;
  color: #ffffff;
}
#form-project::placeholder, fieldset input::placeholder {
  color: #f48c8f;
}
#form-project {
  padding-bottom: 1px;
}

#form-submit, #form-close {
  cursor: pointer;
  background: #FBC65F;
  border-radius: 5px;
  width: 136px;
  height: 38px;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #886A30;
  font-family: inherit;
  border: none;
}
.feedback-contact h3 {
  font-size: 18px;
  color: #f0d8d9;
  font-weight: 900;
  text-align: left;
  margin-bottom: -5px;
}
.feedback-contact p {
  margin-bottom: 20px
}
.feedback-contact p, .feedback-contact a{
  font-size: 12px;
  line-height: 22px;
  color: #f0d8d9;
  font-weight: 400;
  text-align: justify;
  letter-spacing: -0.1px;
}
.feedback-contact a {
  text-decoration: none;
  color: #f0d8d9;
  display: block;
  padding-left: 23px;
  background-position: left center;
  margin-bottom: -0.4px;
  letter-spacing: 0px;
}
.contact-location {
  background: url("assets/location.png") no-repeat;
  background-position-x: 3px !important;
}
.contact-phone {
  background: url("assets/phone.png") no-repeat;
}
.contact-email {
  background: url("assets/mail.png") no-repeat;
  background-position-y: 7.5px !important;
}
/*Footer*/
footer {
  height: 76px;
  background-color: #2d303a;
}
.footer-inner {
  max-width: 1020px;
  margin: auto;
  box-sizing: border-box;
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
}
.copyright {
  color: #666d89;
  font-size: 12px;
  margin-top: 20px;
  margin-left: 2.5px;
  letter-spacing: -0.2px;
}
.footer-inner .social a {
  margin-right: 0px;
  margin-left: 8px
}

/*Singolo DOM*/
.image-active {
  border: 5px solid #F06C64;
  width: 100%;
  box-sizing: border-box;
}
.menu-active {
  color: #f06c64;
}
nav li a {
  color: inherit;
  text-decoration: none;
  transition: linear 0.2s;
}
nav li a:hover {
  color: #f06c64;
}
.hidden {
  opacity: 0;
}
#first-slide {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: 0.5s;
}
#second-slide{
  position: absolute;
  transition: 0.5s;
  width: 100%;
}
#message-block {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: #0008;
}
#message {
  position: absolute;
  border: 2px solid black;
  text-align: justify;
  background-color: #f06c64;
  color: #fff;
  min-width: 300px;
  max-width: 800px;
  word-wrap: break-word;
  padding: 10px;
}
.disable {
  display: none;
}
.hidden-left {
  left: -1020px;
  opacity: 0;
}
.hidden-right {
  left: 1020px;
  opacity: 0;
}
.hidden-slide {
  left: 0;
  display: none !important;
}
.active-slide {
  left: 0px;
}
@media (max-width: 1020px) {
  #feedback-form {
    width: 64%;
  }
  .feedback-contact {
    margin-top: 0px;
  }
  .feedback-contact p {
    margin-bottom: 9px;
  }
  .feedback-contact h3 {
    margin-bottom: -13px;
  }
  fieldset {
    margin-top: 0;
  }
  fieldset input, #form-project {
    margin-bottom: 13px;
  }
}
@media (max-width: 768px) {
  .vertical-phone {
    left: -26px;
    top: 40px;
  }
  .horizontal-phone {
    left: -85px;
    top: 39px;
  }
  #iphone-v {
    width: 164px;
  }
  #iphone-h {
    width: 164px;
  }
  .vertical-phone .shadow, .horizontal-phone .shadow {
    margin-top: -255px;
    margin-left: -91px;
    width: 364px;
  }

  #phone-content-v {
    margin-top: 50px;
    margin-left: 12px;
    height: 251px;
    width: 142px;
    background-size: 300%;
    background-position: -10px -98px;
  }
  #phone-content-h {
    margin-top: 103px;
    margin-left: -45px;
    height: 142px;
    width: 251px;
    background-size: 172%;
    background-position: -89px -88px;
  }
  #home-sec {
    height: 446px;
  }
  #arrow-left {
    left: 3.7%;
    top: 46.82%;
  }
  #arrow-right{
    right: 3.63%;
    top: 46.82%;
  }
  .services-wrapper {
    margin-top: 36px;
    padding-right: 35px;
  }
  .services-inner {
    padding: 59px 40px 16px 40px;
  }
  .services-item {
    display: flex;
    width: 300px;
    margin-bottom: 44px;
  }
  .portfolio-inner > p {
    letter-spacing: 0.2px;
  }
  .portf-image {
    flex: 1 0 23%;
  }
  .about-us-inner{
    padding: 50px 40px 0 40px;
  }
  .team {
    margin-top: 42px;
  }
  .person h3 {
    margin-top: 4px;
  }
  .person p{
    margin-top: 0;
    margin-bottom: 3px;
  }
}
@media (max-width: 767px) {
  .header-inner {
    height: 65px;
    justify-content: center;
  }
  .logo h1 {font-size: 21px;}
  main {
    padding-top: 70px;
  }
  nav {
    display: none;
  }
  #about-sec {
    padding-bottom: 7px;
  }
  .person {
    width: 100%;
    margin: auto;
    margin-bottom: 32px;
    max-width: 315px;
  }
  .team {
    flex-direction: column;
    margin-top: 25px;
  }
  .person h3 {
    margin-top: 13px;
  }
  .form-wrapper {
    flex-direction: column;
  }
  #feedback-form {
    width: 100%;
  }
  .feedback-contact {
    width: 100%;
  }
  #form-submit, #form-close{
    width: 100%;
    height: 48px;
  }
  .feedback-inner {
    padding: 44px 30px 26px;
  }
  fieldset {
    margin-top: 3px;
  }
  .feedback-contact h3 {
    margin-top: 18px;
  }
  .feedback-contact a {
    margin-bottom: 5px;
  }
  .copyright {
    display: none;
  }
  .social {
    margin: auto;
  }
}
@media (max-width: 375px) {
  .vertical-phone {
    left: -14px;
    top: 20px;
  }
  .horizontal-phone {
    left: -42px;
    top: 20px;
  }
  #iphone-v {
    width: 80px;
  }
  #iphone-h {
    width: 80px;
  }
  .vertical-phone .shadow, .horizontal-phone .shadow {
    margin-top: -121px;
    margin-left: -38px;
    width: 171px;
  }

  #phone-content-v {
    margin-top: 24px;
    margin-left: 6px;
    height: 123px;
    width: 69px;
    background-size: 300%;
    background-position: -5px -45px;
  }
  #phone-content-h {
    margin-top: 51px;
    margin-left: -22px;
    height: 69px;
    width: 123px;
    background-size: 172%;
    background-position: -45px -43px;
  }
  #home-sec {
    height: 216px;
  }
  #arrow-right{
    width: 14px;
    height: 25px;
    right: 10px;
    top: 99px;
  }
  #arrow-left{
    width: 14px;
    height: 25px;
    left: 10px;
    top: 99px;
  }
  .services-inner {
    padding: 27px 30px 0px 30px;
  }
  .services-item:last-child{
    margin-bottom: 7px;
  }
  .services-wrapper {
    padding-right: 0;
    margin-top: 29px;
  }
  .services-item {
    margin-bottom: 20px;
  }
  .portfolio-inner {
    padding: 43px 30px 0 30px;
  }
  #portf-images {
    margin: 19px -6.5px 30px;
  }
  .portf-image {
    flex: 1 0 31%;
    margin: 6.5px;
  }
  .portf-image:nth-child(n+9){
    display: none;
  }
  .about-us-inner p {
    letter-spacing: 0.1px;
    padding:
  }
}
